@(userForm: Form[UserRegistration])(implicit lang: Lang)

@main(Messages("exampleForm.title")) {

    <h1>@Messages("exampleForm.title")</h1>
    <p>@Messages("exampleForm.description")</p>
    
    @helper.form(action = routes.ExampleForm.submitForm()) {
        
        @helper.inputText(userForm("username"))
        @helper.inputText(userForm("email"))
        @helper.checkbox(userForm("agree"))
        @recaptcha.recaptchaField(userForm, "captcha")
        
        <button type="submit">@Messages("exampleForm.submit")</button>
    }
}
